@import "/style/components/button.css";
@import "/style/components/card.css";
@import "/style/components/header.css";
@import "/style/components/utilities.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-color);
  font-family: sans-serif;
}
