

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/img/brick-bg.jpg);
  font-family: sans-serif;
  
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}









