/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');


/* colors */
:root {
  --primary-color: #cc00ff;
  --secondary-color: #ff0063;
  --dark-color: #04005e;
  --light-color: #440bd4;
  

}
