.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border: 2px solid black;
  box-shadow: 4px 4px 4px black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.head-title {
  padding: 10px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-color);
  position: fixed;
  padding: 1rem;
  border-top: 2px solid rgb(0, 0, 0);
}
